**/.settings/
**/.project
**/.classpath
**/local-configuration.properties
**/selenium_standalone_binaries/
**/selenium_standalone_zips/
**/target/
**/reports/
**/renew/
**/renew1/
**/new/
***/new/
**/out/
**/test1.robot
**/Test_VA.robot
**/reports2/
**/reports1/
**/trtest.bat
**/trtest1.bat
**/testpa.bat
**/testLVD.bat
**/test.bat
**/zone9/
**/test02.bat
**/run1.bat
**/thao.bat
.pabot*
**/__pycache__
